@import url(//db.onlinewebfonts.com/c/5c60085789b1949c7c249c3798453196?family=Neuzeit+Grotesk);
 #music{
    position: fixed;
    bottom: 0;
    opacity: 0;
    transition: 1s all;
    width: 100%;
    height:65px;
    z-index: -1;
    color: white;
    font-family: Neuzeit Grotesk, sans-serif;
 }

.music-player{
    background : linear-gradient(to right, 	rgb(109, 27, 136),rgb(229, 53, 219),rgb(169, 80, 221), rgb(155, 13, 97));
}
.wrapper{
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
}
.current-playing{

display: flex;
}
.music-info-process{
    margin-left: 20px;
    margin-top: 10px;
    
}
.music-image img{
    margin: 3px 0;
    width: 60px;
    height: 60px;
    max-height: 75px;
    border: 0px;
    border-radius: 50%;
}



.till:-webkit-slider-thumb{
    
    width: 80%;
    appearance: none;
    background-color: #a2b1c6;
    box-shadow: 2px 2px 5px #181a1d, -2px -2px 5px #fff;
    
    width: 15px;
    height: 15px;

}
.player-controls{
    margin-top: 0.75%;
}
.player-controls .backward, .forward {
    
    background-size:  75% 100%;
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0px 10px;
    transition: 0.1s ease-in-out;
}
i{
    color: white;
}

.backward:hover, .forward:hover {
    
    background-size:  75% 100%;
    background-color: white;
    opacity: 1;
    color:black;
    cursor: pointer;

}
.backward:hover i, .forward:hover i {
    
    background-size:  75% 100%;
    background-color: white;
    opacity: 0.5;
    color:black;
    cursor: pointer;

}




button{
    cursor: pointer;
}
.player-controls .stop{
    background-image: url(/static/img/dımtıs2.gif);
    background-size:  75% 100%;
    border: 0px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /*margin: 0px 10px;*/
}
.stop:hover{
    background: null;  
}

 .back i, .forward i, .stop i{
    color: white;

}
.player-lists{
    margin: 0.75% 0;
}
.player-listss{
    margin: 0.75% 0;
}
.close-tap {
    display: flex;
    justify-content: space-between;
    height: 120px;
    
    float: right;
   
}
.close-tap button{

    background-color: transparent;
    border: 0 ;
    align-items: center;
    height: 20px;
    margin: 0px 5px;
}

input[type=range] {
    width: 100%;
    height: 10px;
  }
  .level {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .level:hover {
    opacity: 1;
  }
  
  .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: url(/static/img/dımtıs2.gif);
    cursor: pointer;
  }
  
  .level::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
#minute{
    color: white;
}
#currentMinute,#totalMinute {
    font-family: Neuzeit Grotesk, sans-serif;
    font-size: 12px;
}  

.soz-muzik-bilgi{
    
    text-align: left;
    font-size: 27px;
    width: 50%;
    color:white;
}











@media screen and (max-width: 768px) {
    .music-image 
    
    
    {
        width: 0;
    }
    .current-playing{
        width:30%;
    }
    .wrapper{
        align-items: flex-start;
    }
    .music-info-process{
        margin :0;
        padding :0;
        
    }
    #music{
        height: 60px;
        width: 100%;
        
    }
    .player-controls{
        margin-top: 10px;
        padding: 0;
    }
    .player-controls .stop{
        height: 40px;
        width: 40px;
        
    }
    .player-controls .backward, .forward {
    
        height: 25px;
        width: 25px;
        margin: 0;
    }
    #music i{
        font-size: 15px;
    }
    #music button{
        justify-content: center;
    }
    .player-listss{
        width: 0;
        display: none;
    }
    #soz-muzik{
        width: 0px;
    }
    .player-lists{
        margin-top: 3%;
    }
    .forward{
        left:0px;
    }
    .close-tap{
        margin: 0px 0px;
        float: left;
        width: 50px;
    }
    #close{
        width: 10px
    }
    .player-controls i{
        width:25px;
        margin:0px 0px;
       
    }
    .player-controls button{
        padding : 0px 5px 0px 0px;
        margin:0px 0px;
       
    }

    


}